.stepper{
    width: 100vw;
    display: flex;
    gap: 5;
    justify-content: space-around;
    border-radius: 2px;    
}

.steps{
    margin-top: 20px;

}

.steps span{
    width: 2px;
     height: 2px;
     padding: 10px;
   
     border-radius: 50%;
}