.pagination{
 margin: 20px;
 width: 40px;
 height: 40px;
 background-color: azure;
  cursor: pointer;   
  justify-content: center;
  align-items: center;  
  font-size: large; 
}
     
.p_div{
     display: flex;
}